* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

section {
    height: 100vh;
    overflow: hidden;
    background: #000;
}

p {
    position: relative;
    font-size: 0.5em;
    letter-spacing: -0.05em;
    line-height: 0.7em;
    
    background: url(frenzyy.jpg), url(frenzyy.jpg);
    background-repeat: no-repeat;
    background-blend-mode: color-dodge;
    background-position: center;
    background-attachment: fixed;
    /*background-size: 1300px;*/

    -webkit-background-clip: text;
    color: transparent;

    /* Apply grayscale filter
    filter: grayscale(100%);*/
}
